@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
  background-color: #002;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0s forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color: inherit;
}

#container {
  padding: 30px;
  box-sizing: border-box;
}

#header {
  position: relative;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 1px solid #eee3;
}

.graph-container
{
  padding: 20px 0px;
  width: 100%;
}

.graph
{
  background-color: #002;
}

.button-container
{
  margin: 20px 0px;
  margin-right: 50px;
}
.button-container > .button
{
  display: block;
  text-align: center;
  padding: 10px;
  border: 1px solid #eee3;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 200px;
  margin-bottom: 10px;
  color: #eeea;
}


.button-container > .button:hover
{
  background-color: #eee1;
}

.button-container > .button.selected
{
  background-color: #eef3;
  color: #eee
}

.content
{
  display: flex;
}
