@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
  background-color: #002;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0s forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color: inherit;
}

h1
{
  font-size: 2.5rem;
}

#container {
  padding: 30px;
  box-sizing: border-box;
}

#header {
  position: relative;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 1px solid #eee3;
}

.graph-container
{
  padding: 20px 0px;
  width: 100%;
}

.graph
{
  background-color: #002;
}

.button-container
{
  margin: 20px 0px;
  margin-right: 50px;
}
.button-container > .button
{
  display: block;
  text-align: center;
  padding: 10px;
  border: 1px solid #eee3;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 200px;
  margin-bottom: 10px;
  color: #eeea;
}


.button-container > .button:hover
{
  background-color: #eee1;
}

.button-container > .button.selected
{
  background-color: #eef3;
  color: #eee
}

.content
{
  display: flex;
}

.stats-container
{
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 300;
}

.stats-container {
  width: 300px;
  box-sizing: border-box;
  font-weight: 300;
  
  
  color: #eee; /* Text color */
}

/* Style the stats */
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat {
  margin-bottom: 20px;
  text-align: center;
  background-color: #88a2;
  /* box-shadow: 7px 8px 10px #fff3; */
  padding: 25px 30px;
}

.stat-title {
  font-size: 18px; /* Adjust the font size */
  margin-bottom: 5px;
}

.stat-value {
  font-size: 30px; /* Adjust the font size */
}

@keyframes ldio-kmv7mpmhga {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-kmv7mpmhga div {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 10px solid #eee5;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-kmv7mpmhga div {
    animation: ldio-kmv7mpmhga 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-sijxdcq7t9l {
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
    background: #0000;
    margin: 0 auto;
  }
  .ldio-kmv7mpmhga {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-kmv7mpmhga div { box-sizing: content-box; }